{
	"raw": {},
	"required": [
		"Filename",
		"Size"
	],
	"package": "kconfig-frontends-nox",
	"source": "kconfig-frontends",
	"version": "4.11.0.1+dfsg-6",
	"section": "universe/devel",
	"priority": "optional",
	"architecture": "amd64",
	"depends": [
		"libc6 (>= 2.34)",
		"libncursesw6 (>= 6)",
		"libtinfo6 (>= 6)",
		"python3",
		"libncurses-dev"
	],
	"replaces": [
		"kconfig-frontends (<< 4.11.0.1+dfsg-4)"
	],
	"breaks": [
		"kconfig-frontends (<< 4.11.0.1+dfsg-4)"
	],
	"installedSize": 362,
	"maintainer": "Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>",
	"description": "NoX standalone implementation of the Linux Kconfig parser",
	"homepage": "http://ymorin.is-a-geek.org/projects/kconfig-frontends",
	"filename": "pool/universe/k/kconfig-frontends/kconfig-frontends-nox_4.11.0.1+dfsg-6_amd64.deb",
	"size": 132786,
	"md5": "372e469baa9dfddf5663e734d985f806",
	"sha1": "809496c5d152d49a8ab5a176fba2cc9cd5732d62",
	"sha256": "d9ff7dffece13da5ca66255315f945de326a7abf601beece402663fc8478059c",
	"sha512": "e9230bccfbe09cba26812dcd7e737742f6e78a35909490fc980f3536c284df1ef1694a1c399656d20ff9c00791938896ed203931b33752ee0a07b71c9a5b1194",
	"descriptionMd5": "fe4e8957e74c7e6eafe6343f7674ea65"
}