{
	"raw": {},
	"required": [
		"Filename",
		"Size"
	],
	"package": "kconfig-frontends",
	"version": "4.11.0.1+dfsg-6build3",
	"section": "universe/devel",
	"priority": "optional",
	"architecture": "amd64",
	"depends": [
		"libc6 (>= 2.38)",
		"libgcc-s1 (>= 3.3.1)",
		"libncursesw6 (>= 6)",
		"libqt5core5t64 (>= 5.15.1)",
		"libqt5gui5t64 (>= 5.0.2) | libqt5gui5-gles (>= 5.0.2)",
		"libqt5widgets5t64 (>= 5.14.1)",
		"libstdc++6 (>= 4.1.1)",
		"libtinfo6 (>= 6)",
		"python3",
		"libncurses-dev"
	],
	"recommends": [
		"qtbase5-dev"
	],
	"replaces": [
		"kconfig-frontends-nox"
	],
	"breaks": [
		"kconfig-frontends-nox"
	],
	"installedSize": 528,
	"maintainer": "Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>",
	"description": "Standalone implementation of the Linux Kconfig parser and frontend",
	"homepage": "http://ymorin.is-a-geek.org/projects/kconfig-frontends",
	"filename": "pool/universe/k/kconfig-frontends/kconfig-frontends_4.11.0.1+dfsg-6build3_amd64.deb",
	"size": 175848,
	"md5": "1c9bdcd37c6974dce3efdfdafd79ee85",
	"sha1": "e7f13c9cd4e0a0b01ae20f3cc7f6704ce82359b9",
	"sha256": "7d1123b80804b9e48dca46233f94064b6d0474b4a6f9aaa6927c6360022517f9",
	"sha512": "0f16efc3d3c8915e70d6caa2ab4beb3f9d23a3f1157e5efc6ba2fdaf1806457ede962b65f4418aa04afa68b7a7a11a0df9be5b0dced7a89dda16f00e111b43ef",
	"descriptionMd5": "71d98910429ac98f96fb655a713fa6f6"
}