{
	"raw": {},
	"required": [
		"Filename",
		"Size"
	],
	"package": "kconfig-frontends-nox",
	"source": "kconfig-frontends",
	"version": "4.11.0.1+dfsg-6build3",
	"section": "universe/devel",
	"priority": "optional",
	"architecture": "amd64",
	"depends": [
		"libc6 (>= 2.38)",
		"libncursesw6 (>= 6)",
		"libtinfo6 (>= 6)",
		"python3",
		"libncurses-dev"
	],
	"replaces": [
		"kconfig-frontends (<< 4.11.0.1+dfsg-4)"
	],
	"breaks": [
		"kconfig-frontends (<< 4.11.0.1+dfsg-4)"
	],
	"installedSize": 366,
	"maintainer": "Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>",
	"description": "NoX standalone implementation of the Linux Kconfig parser",
	"homepage": "http://ymorin.is-a-geek.org/projects/kconfig-frontends",
	"filename": "pool/universe/k/kconfig-frontends/kconfig-frontends-nox_4.11.0.1+dfsg-6build3_amd64.deb",
	"size": 130950,
	"md5": "ef3f4cfde8b411cbe8c24d68503b538d",
	"sha1": "64eb1753c150fe4693e20bdab482435f55e58ce7",
	"sha256": "d05538b61dbf2ffc52c6c613993cd1711b51008fa34d7def30024d39e6d2031a",
	"sha512": "e98939cc740f07ac4bbc28565e9da162119932332358d081b56548338c89b250faa76f71c627bcc0c3b5282f35acfa5cd6e581fe51f47e106a3383601f97308e",
	"descriptionMd5": "fe4e8957e74c7e6eafe6343f7674ea65"
}