{
	"raw": {},
	"required": [
		"Filename",
		"Size"
	],
	"package": "kconfig-frontends",
	"version": "4.11.0.1+dfsg-6build2",
	"section": "universe/devel",
	"priority": "optional",
	"architecture": "amd64",
	"depends": [
		"libc6 (>= 2.34)",
		"libgcc-s1 (>= 3.3.1)",
		"libncursesw6 (>= 6)",
		"libqt5core5t64 (>= 5.15.1)",
		"libqt5gui5t64 (>= 5.0.2) | libqt5gui5-gles (>= 5.0.2)",
		"libqt5widgets5t64 (>= 5.14.1)",
		"libstdc++6 (>= 4.1.1)",
		"libtinfo6 (>= 6)",
		"python3",
		"libncurses-dev"
	],
	"recommends": [
		"qtbase5-dev"
	],
	"replaces": [
		"kconfig-frontends-nox"
	],
	"breaks": [
		"kconfig-frontends-nox"
	],
	"installedSize": 520,
	"maintainer": "Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>",
	"description": "Standalone implementation of the Linux Kconfig parser and frontend",
	"homepage": "http://ymorin.is-a-geek.org/projects/kconfig-frontends",
	"filename": "pool/universe/k/kconfig-frontends/kconfig-frontends_4.11.0.1+dfsg-6build2_amd64.deb",
	"size": 173906,
	"md5": "a25c10d3179cacdea002a7d5b68f8064",
	"sha1": "e9e28899f38c74e3362b6a2f8bbba9de96cd5ee0",
	"sha256": "41b2494351bc53ef43d17a3fe2414497682c61093ac002b3742a58952adb65a0",
	"sha512": "e944c62519127f9b60265158309e382fc480efcac0abc5a2dea9809cef30ef51b04a9aa99f7bb1b8d3e8155c12bbfd45ca7a5f1bb3ddb2e9bf1327f3139f0f74",
	"descriptionMd5": "71d98910429ac98f96fb655a713fa6f6"
}